body {
  background-color: rgb(230, 230, 230);
  font-family: "Kanit", sans-serif;
}

.iconoCerrar {
  backdrop-filter: blur(6px);
  position: fixed;
  width: 95.5%;
  text-align: end;
  background-color: rgba(0, 0, 0, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
}
.botones {
  color: white;
  height: 80vh;
  display: flex;
  padding: 2%;
  margin-top: 20%;
  gap: 1rem;
  background-color: #1a1a17;
  border: 1px solid black;
  border-radius: 5px;
  flex-direction: column;
}
.botones h1{
  margin: 0;
  padding: 2%;
}
.tier {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
.queEs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 5%;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  padding: 4%;
  background-color: #1a1a17;
  height: 45vh;
}
#emoji {
  width: 60%;
}
.modal {
  top: 9%;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  width: 96%;
  background-color: #1a1a17dd;
  backdrop-filter: blur(8px);
  height: 80vh;
  display: none;
  position: fixed;
  overflow: scroll;
}
h2 {
  font-size: xx-large;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
}
#modal-content4 h2 {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  border: 1px solid white;
}
.modal svg {
  stroke: #faf1f1;
}
.modal svg:hover {
  stroke: red;
}

#boton0 {
  background-color: #ff7f7f;
  height: 80px;
}
#boton1 {
  background-color: #ffbf7f;
  height: 80px;
}
#boton2 {
  background-color: #ffdf7f;
  height: 80px;
}
#boton3 {
  background-color: #bfff7f;
  height: 80px;
}
#boton4 {
  background-color: rgb(0, 81, 255);
  height: 80px;
}
#boton0:active {
  background-color: rgb(134, 0, 0);
}
#boton1:active {
  background-color: rgb(179, 96, 1);
}
#boton2:active {
  background-color: rgb(218, 218, 2);
}
#boton3:active {
  background-color: rgb(2, 165, 116);
}
#boton4:active {
  background-color: rgb(2, 30, 153);
}

#menu {
  background-color: #1a1a17;
  z-index: 1;
  top: 0;
  border: 1px solid black;
  border-radius: 5px;
  height: 60px;
  border: 2px solid black;
  position: fixed;
  width: 95%;
}
#menu ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  margin: 0;
  padding: 0;
}
#menu ul li {
  display: flex;
  justify-content: center;
  width: 20%;
  transition: 0.3s ease-out;
}

#menu ul li:hover {
  transform: rotate(360deg);
}
a {
  text-decoration: none;
  color: black;
}
.tuOpinion {
  border: 1px solid red;
  text-align: center;

  margin-top: 5%;
  text-transform: uppercase;
  font-weight: bold;
}
.socials {
  display: flex;
  justify-content: space-around;
}
.socials img {
  width: 15%;
  transition: 0.3s ease-in-out;
}
#linkedin{
  transform: scale(1.5);
}
#linkedin:hover{
  transform: scale(2.0);
}

.socials img:hover {
  transform: scale(1.4);
}
.textoModal {
  margin-top: 8%;
  padding: 5%;
}
.contacto {
  background-color: #1a1a17;
  margin-top: 4%;
  border: 1px solid black;
  border-radius: 5px;
  height: 28vh;
  color: white;
}
.opinion {
  border: 1px solid rgba(0, 0, 0, 0.074);
  padding: 4%;
  margin-top: 4%;
  border-radius: 5px;
}
