body {
  font-family: "Kanit", sans-serif;
}

.iconoCerrar {
  backdrop-filter: blur(6px);
  position: fixed;
  width: 95.5%;
  text-align: end;
  background-color: rgba(0, 0, 0, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
}
.tier {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
#emoji {
  width: 50%;
}
.modal {
  top: 19%;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  width: 96%;
  background-color: #1a1a17;
  height: 80vh;
  display: none;
  position: fixed;
  overflow: scroll;
}
h2 {
  font-size: xx-large;
  display: flex;
  justify-content: center;
}
#modal-content4 h2 {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  border: 1px solid white;
}
.modal svg {
  stroke: #faf1f1;
}
.modal svg:hover {
  stroke: red;
}
#boton0 {
  background-color: #ff7f7f;
  height: 80px;
}
#boton1 {
  background-color: #ffbf7f;
  height: 80px;
}
#boton2 {
  background-color: #ffdf7f;
  height: 80px;
}
#boton3 {
  background-color: #bfff7f;
  height: 80px;
}
#boton4 {
  background-color: rgb(0, 81, 255);
  height: 80px;
}
#boton0:active {
  background-color: rgb(134, 0, 0);
}
#boton1:active {
  background-color: rgb(179, 96, 1);
}
#boton2:active {
  background-color: rgb(218, 218, 2);
}
#boton3:active {
  background-color: rgb(2, 165, 116);
}
#boton4:active {
  background-color: rgb(2, 30, 153);
}

#menu {
  background-color: white;
  z-index: 1;
  margin-top: -1.8%;
  height: 60px;
  border: 2px solid black;
  position: fixed;
  width: 95%;
  margin-bottom: 50%;
}
#menu ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  margin: 0;
  padding: 0;
}
#menu ul li {
  display: flex;
  justify-content: center;
  width: 20%;
  transition: 0.3s ease-out;
}

#menu ul li:hover {
  transform: rotate(360deg);
}
a {
  text-decoration: none;
  color: black;
}
.tuOpinion {
  border: 1px solid red;
  text-align: center;

  margin-top: 5%;
  text-transform: uppercase;
  font-weight: bold;
}
.socials {
  display: flex;
  justify-content: space-around;
}
.socials img {
  width: 15%;
  transition: 0.3s ease-in-out;
}

.socials img:hover {
  transform: scale(1.2);
}
.textoModal {
  margin-top: 8%;
  padding: 5%;
}
